body {
    background-color: antiquewhite;
}

.divform {
    box-shadow: 0 0 3px 0 black;
    background: rgba(128, 128, 128, 0.671);
    width: 450px;
    height: 600px;
    margin-left: 480px;
    margin-top: 30px;
    border-radius: 5px;
    font-family:Arial, sans-serif;
    font-size: 20px;
   
   
}

.form-1 {
    margin-left: 60px;
    
}

.head {
    margin-left: 580px;
    margin-top: 80px;
    font-weight: 600;
    font-size: 30px;
    font-family:Arial, sans-serif;

}

.mathdiv {
   
    padding-top: 35px;
}
.sciencediv {
        padding-top: 10px;

}

.theorydiv {
    padding-top: 10px;

}

.Indudiv {
    padding-top: 10px;

}

.Fundediv {
    padding-top: 10px;

}

.Pracdiv {
    padding-top: 10px;

}



.avBtn {
    padding-top: 40px;
    width: 130px;
    border-color: black;
    padding-top: 40px;
    cursor: pointer;
    margin-left: 50px;
    border: bold;
    font-family:Arial, sans-serif;


}

.clearB {

    padding-top: 40px;
    width: 100px;
    border-color: black;
    padding-top: 40px;
    cursor: pointer;
    margin-left: 10px;
    border: bold;
    font-family:Arial, sans-serif;
}

.input {
    width: 300px;
    height: 25px;
    border-color: black;
    border-radius: px;
    padding: 3px;
    cursor: pointer;
    font-family:Arial, sans-serif;

}

.h1 {
    padding-top: 15px;
    text-align: center;
    width: 300px;
    font-size: 20px;
    font-family:Arial, sans-serif;

}

.buttons {
    display: flex;
}

.p1 {
    font-size: 15px;
  
}

.footimg {
    width: 150px;
    height: 15px;
   
}

.footerdiv {
    display: flex;
    align-items: center;
    margin-left: 110px;
    margin-top: 50px;
}

.footer {
    display: flex;
    
}
.pc {
    margin-left: -62px;
}
