.divform {
    box-shadow: 0 0 3px 0 black;
    background: rgba(128, 128, 128, 0.787);
    width: 450px;
    height: 600px;
    margin-left: 480px;
    margin-top: 30px;
    border-radius: 20px;
    font-family:Arial, sans-serif;
    font-size: 20px;
   
   
}


